The SPIRE server generates an invalid CA

* **Version**: 0.3
* **Platform**: Darwin ....local 17.3.0 Darwin Kernel Version 17.3.0: Thu Nov  9 18:09:22 PST 2017; root:xnu-4570.31.3~1/RELEASE_X86_64 x86_64
* **Subsystem**: server

## Problem
The SPIRE server generates an invalid CA. 

RFC 5280, Section 4.2.1.6, §3 mandates that if the subject DN is empty, the SAN must be marked as critical (See https://tools.ietf.org/html/rfc5280#section-4.2.1.6 for reference). 
However the CA generated by the SPIRE server has an empty subject DN and the SAN is not marked as critical. Therefore, it will be rejected by conforming implementations.

See https://github.com/spiffe/spiffe/issues/56 for reference.

## Solution
Mark the SAN as critical.


CA cert must not have empty subject in order for path validation to be compat. SVID can have empty subject, SAN should be critical as noted above.

@az82 we will be picking this issue up this week, we may have additional questions for you. Thanks for the report

we see that all ca cert and svid in 0.3 has subject, but noticed that in 0.2 they did not. we also noticed that we are setting san as critical, but golang was ignoring it, bug is fixed in 1.10.1
should be fixed in latest, closing for now, please re-open if you are still seeing a problem

Issue reported: https://github.com/golang/go/issues/22249
Solution: https://github.com/golang/go/commit/3a395e22832774ff56d6b82cb8d91bc31167bd8e