Set CN and DNS SANs in registration API

SPIFFE identities are going to be the primary identifier for applications in our network, but x509 certificates are useful for many other things.

Most notably, a service may, in our environment, sit behind a load balancer (TCP/Layer 4).  We'd like "simple" HTTPS clients to be compatible with them, so we want the ability to put our own DNS SANs on certificates.  As well, we'd like to set subjects with information useful for identifying exactly which instance you're talking to.

Given that I believe the Registration API is officially unstable, it seems like it ought to be low-risk to incorporate this in the API.  The CLI could gate these features on an experimental option, like federation is.  I think the maintenance burden of this feature is fairly low, and makes SPIRE much easier for us to adopt.  We may be able to contribute it.  I wanted to get feedback if this feature was acceptable first, though.

> Most notably, a service may, in our environment, sit behind a load balancer (TCP/Layer 4). We'd like "simple" HTTPS clients to be compatible with them, so we want the ability to put our own DNS SANs on certificates.

This sounds reasonable. Defining the names as part of a registration entry is palatable because we don't have to worry about how to validate them. I can envision something like `--legacyName myservice.example.org` where multiple names are supported for a single entry. One outstanding question on this point is: what does it mean for JWT-SVID?

> As well, we'd like to set subjects with information useful for identifying exactly which instance you're talking to.

I'm not quite sure how we can easily accomplish this... Do you have any ideas or suggestions? The main question in my mind is "how do you get to know the subject information for each node/agent"... the JWT question also comes up again - ideally, registered information is not specific to a certain type of SVID

> it seems like it ought to be low-risk to incorporate this in the API

Yes I don't think this will be a problem, at least for the DNS SAN... I'd like to hear more of your thoughts on how to accomplish the custom subject information

I am not very familiar with JWT so I have no input there.  It's not a big deal for us.

As per the subject information, I'd just like to explicitly provide it, along with the DNS Names, to the registration API.

I think the registration authority that's talking to the API is at least in my mind what's logically defining identity (by choosing names, selectors, spiffe IDs), and thus it isn't really SPIRE's place to validate them.

I'm happy to pull together a proof-of-concept pull request too.



+1 agree DNS SAN support would be a big win for X.509 SVID compatibility with "simple" HTTPS clients.

I can see the desire to keep registered information agnostic to the SVID type. But either we register information that _may_ not be useful to certain SVID types, or we make SVIDs only as useful as the lowest common denominator of the features they share.


The simplest (but not the cleanest) way I could see to do this would be to add a `map[string]string` to the registration API that allows registrars to create entries with a flag like `-extension 'x-dns-san:myservice.example.org' -extension 'x-subject:my-service-abc'` and defer to the X.509 and JWT SVID implementations to interpret these fields and optionally set them on whichever field is appropriate.

> As per the subject information, I'd just like to explicitly provide it, along with the DNS Names, to the registration API.

Ah I see. This would work so long as the registration entry has a Parent ID that is scoped to a single host/agent... if the Parent ID included multiple hosts (for instance, when using AWS Security Group as a parent), then you'd lose the instance specificity. The latter is a common case because it comes with less management overhead

>  defer to the X.509 and JWT SVID implementations to interpret these fields and optionally set them on whichever field is appropriate.

Yea, @azdagron and I discussed something like this last week... It's not my favorite thing in the world but I think it could work, or something like it. We have also loosely discussed adding a new plugin that could be used to mutate SVIDs while they are being minted... I think there is a pretty clean and clear path forward for DNS SAN/CN at least (via altName or legacyName flag that is fairly generic). 

That's a good point about parent ID.  I think ours are all scoped to a host right now, since we're using AWS IID or join tokens from a single host.

A plugin interface would be an interesting solution to this too.  If it's in the right place, it could be used for some other features we're interested in too, like submitting to a Certificate Transparency log, and then embedding the SCT into the certificate.

I'm very interested in this subject. 
In our project, we want to realize to authenticate to HashiCorp Vault using X.509 SVID.
However, in Vault, it needs to set Common Name field in X.509 certificates.


I'm also interested in this, and plan to do some coding against it, however something I'm concerned about is how much we might expand the `RegistrationEntry` in certain use cases.

Ideally some SAN/CN information might be derivable in a plugin from current `entry` information and/or information present to or retrievable by the server process, but some may need to be explicitly defined if it doesn't follow some easy pattern / logic and so should go into the DB.
For example, if all or some subset of entries in with URI like `spiffe://acme.com/billing/payments/<a>/<b>` are to have DNS `payments-<a>-<b>`, that could be some plugin rule with configuration that can be defined (probably with some regex).
But if for the same URI instead `spiffe://acme.com/billing/payments/alpha/alpha` is DNS `payments-1-us`, `spiffe://acme.com/billing/payments/charlie/zebra` is DNS `payments-2-us`, that may need to be explicitly defined in the `entry` (or could be a plugin with a long defined mapping configuration).

The concern is that we might wind up expanding `RegistrationEntry` to encompass much of the X509 fields, which could get messy and may result in many attributes going unused by majority of people.

So I guess my question would be, how many more fields are we comfortable adding to `RegistrationEntry` vs saying "that should be a configurable plugin"? I would be on-board with total-plugin route, with understanding that some may shoot themselves in the foot with mapping configuration / regex.

> The concern is that we might wind up expanding RegistrationEntry to encompass much of the X509 fields, which could get messy and may result in many attributes going unused by majority of people.

Yes... I am concerned about this too. I would prefer to keep SVID type specific attributes out of the registration data for as long as possible.

> So I guess my question would be, how many more fields are we comfortable adding to RegistrationEntry vs saying "that should be a configurable plugin"? I would be on-board with total-plugin route, with understanding that some may shoot themselves in the foot with mapping configuration / regex.

I think there is a clear use case of "allow legacy systems to interact with SPIRE-based systems through the use of legacy name validation". This could be generalized by way of something like `--legacyName`, and could be useful and/or meaningful for future SVID types. In the case of X509-SVID, we can put that in Subject CN.

Personally, I'm a bit hesitant to introduce a new plugin type for this purpose, at this moment at least. IMO we can solve the immediate problem in a fairly generalized way without introducing the added complexity. That is not to say that we can't ever have a plugin to handle functionality in this area, just that it feels a little early.

> However, in Vault, it needs to set Common Name field in X.509 certificates.

@hiyosi do you know if there is an issue open against vault to fix this? If so, could you provide a link to it? I know that @nicholasjackson worked on SPIFFE support in vault, but if CN is required then it seems that there is more work to be done.

> I think there is a clear use case of "allow legacy systems to interact with SPIRE-based systems through the use of legacy name validation". This could be generalized by way of something like `--legacyName`, and could be useful and/or meaningful for future SVID types. In the case of X509-SVID, we can put that in Subject CN.
> 
> Personally, I'm a bit hesitant to introduce a new plugin type for this purpose, at this moment at least. IMO we can solve the immediate problem in a fairly generalized way without introducing the added complexity. That is not to say that we can't ever have a plugin to handle functionality in this area, just that it feels a little early.

Would you say the same applies to the DNS portion of this? Some `--dns={abc.d,wxy.z}` flag or similar which also gets stored as part of `RegistrationEntry` alongside `legacyName`?


> Would you say the same applies to the DNS portion of this? Some --dns={abc.d,wxy.z} flag or similar which also gets stored as part of RegistrationEntry alongside legacyName?

I don't think so :-/

I am curious to know if DNS SAN is absolutely required for this use case. Supporting user definable SAN type feels like a bit of a slippery slope. If DNS SAN is absolutely required, then perhaps we set the `legacyName` value in both CN and DNS SAN field? Support for "legacy name validation" is a little less flexible in that case, but maybe it's ok... we would have to think through validation of the supplied value.

If it's possible to avoid DNS SAN and still solve the problem, I think that would be ideal.

> I am curious to know if DNS SAN is absolutely required for this use case. Supporting user definable SAN type feels like a bit of a slippery slope.

The need in this case is for TLS cert, where multiple hostnames are possible.

> If DNS SAN is absolutely required, then perhaps we set the `legacyName` value in both CN and DNS SAN field?

But for the above case we need multiple values, so that limits the cleanliness of such a solution.

> Support for "legacy name validation" is a little less flexible in that case, but maybe it's ok... we would have to think through validation of the supplied value.

I'm also confused about this part. When you say validation, are you talking about `Selectors`?

> The need in this case is for TLS cert, where multiple hostnames are possible.

Hmm ok. It's hard to tell how `legacyName` might apply to future SVID types - I don't think it applies to JWT-SVID. So maybe we can allow users to specify multiple legacy names, and if we ever introduce an SVID type where only a single name is possible, we take the first one...?

> I'm also confused about this part. When you say validation, are you talking about Selectors?

Sorry about that - I'm talking about validation to ensure that `legacyName` is a valid DNS name. If we have to take this route, then `legacyName` might not be the best choice, and maybe we should choose something that conveys the DNS formatting requirement. Here is the relavent portion of text, from [Section 4.2.1.6 of RFC 5280](https://tools.ietf.org/html/rfc5280#section-4.2.1.6):

```
   When the subjectAltName extension contains a domain name system
   label, the domain name MUST be stored in the dNSName (an IA5String).
   The name MUST be in the "preferred name syntax", as specified by
   Section 3.5 of [RFC1034] and as modified by Section 2.1 of
   [RFC1123].
```

> Sorry about that - I'm talking about validation to ensure that `legacyName` is a valid DNS name. If we have to take this route, then `legacyName` might not be the best choice, and maybe we should choose something that conveys the DNS formatting requirement.

Though, if I understand correctly from this, it seems like we might be back to the slippery slope of how much more is the entry going to be expanded. It is because of this that I initially brought up plugins that can take a configured rule(s) handling well-defined behavior. Though then identity is defined in both the datastore and the configuration, which may be the biggest argument against that approach.

Users of the registration API could create a more complex registration entry using the `legacyName` and ¿`dns`? flags. But then we have the more complex registration entry, which it seems we both want to avoid if possible, just as we also want to avoid adding further complexity with plugins.

I agree that the solution today can be expanding the entry object, but I just want to make sure we continue policing this growing object in the future. If it grows even more from a need to fill out SVIDs, perhaps a migration in the future could be a separate table for all this "extra" data about certain (but not all) entries?

> > However, in Vault, it needs to set Common Name field in X.509 certificates.
> 
> @hiyosi do you know if there is an issue open against vault to fix this? If so, could you provide a link to it? I know that @nicholasjackson worked on SPIFFE support in vault, but if CN is required then it seems that there is more work to be done.

Hi @hiyosi when creating the role did you specify the option `require_cn=false` to disable the requirement for a common name when generating a certificate, this is enabled as true by default?

```
$ vault write pki/roles/spiffe max_ttl=72h allowed_uri_sans="spiffe://hostname/*" require_cn=false
Success! Data written to: pki/roles/spiffe
```
You can then generaate a cert only specifying the uri_sans portion with a SPIFFE ID

```
$ vault write pki/issue/spiffe uri_sans="spiffe://hostname/appname"
``` 

Example certificate output...

```
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            62:e7:2c:50:38:8e:cf:12:bd:57:b1:70:f9:63:cc:ca:6c:21:8a:ca
    Signature Algorithm: sha256WithRSAEncryption
        Issuer:
        Validity
            Not Before: Mar  9 06:56:26 2019 GMT
            Not After : Mar 12 06:56:55 2019 GMT
        Subject:
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
                Public-Key: (2048 bit)
                Modulus:
                    00:f1:4a:1f:bc:4a:cb:96:cc:b1:6b:2f:e0:88:6b:
                    75:8a:f0:f5:52:2b:fe:9f:e9:4d:51:10:c0:7a:1c:
                    1f:f7:72:b5:cb:2c:5e:af:ea:9c:8d:35:c8:10:b0:
                    ff:dc:59:e3:42:c6:cc:4c:38:f3:9d:7e:47:53:d4:
                    ab:5a:2a:22:a9:ab:aa:6e:c0:ef:ad:fb:1d:8f:71:
                    67:39:3f:45:72:9d:85:d5:cb:68:80:dd:fd:02:1a:
                    dd:fa:68:1f:4e:dd:94:a1:e7:9f:d4:a6:26:bf:c6:
                    0c:e3:87:56:78:88:57:ab:61:9e:a9:d6:25:c0:f9:
                    5b:06:29:ff:13:38:90:dd:5d:48:11:00:44:49:56:
                    71:25:18:d0:bd:dc:54:77:ce:f2:24:1e:fc:8b:12:
                    3b:7f:50:0c:c7:51:c5:d4:0c:32:76:e6:9d:31:54:
                    bf:59:3d:77:6e:f4:46:2d:a6:b9:ad:30:1b:f6:23:
                    fd:27:ca:1c:6d:fe:33:4a:b1:79:f9:09:82:22:f9:
                    fa:ec:99:15:4b:e5:57:d2:87:5b:6a:b3:f4:40:b5:
                    f7:67:0f:0f:08:f1:ac:e0:b5:9d:65:7c:e8:fb:54:
                    b1:c0:ca:10:de:ad:f0:f3:67:a7:7d:10:9f:00:d6:
                    a0:1b:15:35:91:bf:12:c3:f9:92:df:a6:e6:38:7b:
                    b6:89
                Exponent: 65537 (0x10001)
        X509v3 extensions:
            X509v3 Key Usage: critical
                Digital Signature, Key Encipherment, Key Agreement
            X509v3 Extended Key Usage:
                TLS Web Server Authentication, TLS Web Client Authentication
            X509v3 Subject Key Identifier:
                0B:A2:CC:9D:3A:D3:0D:5D:59:B9:A2:42:8E:67:F5:B7:92:4A:28:17
            X509v3 Authority Key Identifier:
                keyid:4E:C5:23:A4:5B:EB:86:AB:65:65:75:41:07:A7:5C:BF:40:3A:9C:71

            X509v3 Subject Alternative Name: critical
                URI:spiffe://hostname/appname
    Signature Algorithm: sha256WithRSAEncryption
         93:39:74:c6:41:c8:d1:8d:64:ff:96:b1:9e:93:68:af:1a:fd:
         a0:f5:2f:25:1e:5d:75:a8:6a:69:38:23:34:f1:d7:7e:37:21:
         7b:83:6c:c2:5c:d0:79:bb:18:5e:37:43:d4:90:0b:b7:81:72:
         a8:51:c3:fb:87:25:fb:d5:b7:9e:a2:f4:af:78:39:b0:65:89:
         9a:f7:43:26:25:ef:c6:d4:e4:ad:9c:7e:e5:45:e5:b9:74:84:
         9f:ea:c5:3c:ce:a5:7b:6c:8f:d5:08:36:cb:af:fb:de:10:56:
         3d:aa:d4:7a:09:5b:fa:0e:49:aa:89:06:e0:2a:3f:84:4a:9f:
         40:da:12:bf:32:3f:3a:58:48:ad:a3:57:da:f6:c9:85:4e:e5:
         b0:26:c6:ac:f9:b7:6f:ae:2b:65:5c:a6:33:9e:a7:24:5f:82:
         94:85:19:b2:a2:b5:4e:10:c9:0d:25:8e:ec:ad:3c:7e:b1:4e:
         d9:85:cf:e3:53:33:3d:3c:8d:9d:ff:be:2f:b3:dd:0f:7b:83:
         94:39:34:9b:c4:4d:21:ec:01:3c:7b:15:23:51:56:be:20:b7:
         38:c3:d4:82:82:fa:82:09:ab:30:9f:85:c8:45:06:93:1f:44:
         53:f6:7e:77:70:b3:c9:19:10:f0:f0:c7:66:41:0c:fe:a7:4b:
         e6:c4:f9:1a
```

Hi, @nicholasjackson

We intend to use a certificate issued by SPIRE. A workload attested by Workload Attestor wants to log in to Vault using that SVID. Also to allow Vault to validate the certificate by setting certificate bundles to Vault TLS Cert Auth. 



Referencing Istio feature request https://github.com/istio/istio/issues/42114